#modal-auth {
   &::before {
      background-color: transparent;
   }

   .modal-container {
      border: 1px solid #D2D2D2;
   }
}

.otp-form-list {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
}

.otp-form-list div {
   width: 100%;
}

.otp-form-list__item {
   margin: 0 4px;
}

.otp-form-list__item:first-child {
   margin-left: 0;
}

.otp-form-list__item:last-child {
   margin-right: 0;
}

.otp-form-list__item input {
   font-weight: normal;
   color: #274DE0;
   text-align: center;
   width: 100% !important;
   height: 51.83px !important;
   border-radius: 12px;
   border: 1px solid #E5E5E5;
   outline: none;
}